/*#region common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --brand: #7289DA;
    --greyple: #99aab5;
    --dark: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #282020;
}
.container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-2{
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

section{
   margin-top: 15rem;
}

h1{
    font-size: 3rem;
    color: white;
    padding-top:2.3rem;
    padding-bottom: 2rem;
}
section img{
    width:100%;
}
section h2{
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

section .col-4{
    padding:1.75rem;
}

h2+p{
    line-height: 1.5;
    color:#282020;
    margin-top: 1.3rem;
    font-size: 1.1rem;
}

button{
    margin-top:1rem;
    padding:1rem 2rem;
    border-radius: 40px;
    border:none;
}

/*#endregion common rules */

/* #region header */


header{
    background-color:#255EE9;
    padding-top:1rem;
    padding-bottom:1rem;
}

header .row{
   align-items: center;
}

header a{
    padding-left: 1.50rem;
    color:var(--off-white);
    text-decoration: none;
}

.row .login{
    text-align: right;
}

header button{
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    padding-left: 0.80rem;
    padding-right: 0.80rem;
    border-radius: 40px;
    border: none;
}

/* #endregion header */

/* #region main */

/* title_section */
.page_description{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
}
.page_description_content{
    width:60%;
    margin: 0 auto;
    padding:6rem 3rem;
    text-align: center;
    line-height: 1.5;
}

.page_description_content p{
    color:var(--off-white);
    font-size: 1.3rem;
}

.mac_button{
    margin-right:1rem;
    color: var(--dark);
    font-weight: bold;
    font-size:1rem;
}
.mac_button i{
    font-weight: bold;
    padding-right:0.25rem;
}
.browser_link{
    background-color:var(--not-quite-black);
    color: var(--off-white);
    font-size:1rem;
}
/* invite_only */
.invite_only{
    margin-top: 6rem;
}
/* download */
.download .container{
    text-align: center;
}
div.stars{
    width:50%;
    margin:0 auto;
    position:relative;
}
.stars img{
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
}
.stars h3{
    padding-top:2rem;
    font-size:1.5rem;
}
.download button{
    margin-top: 3rem;
    margin-bottom: 6rem;
    color:var(--off-white);
    background-color: var(--brand);
    font-size:1rem;
}

/* #endregion main */

/* footer */

footer{
    background-color: violet;
}
footer .row{
    height:100px;
    border:1px solid black;
}

.container.logo{
    background-color: darksalmon;
}

.row .logo, .row .button{
    height:50%;
    width:10%;
    background-color: blue;
    border: 1px solid black;
}

.row.company{
    align-content: center;
    justify-content: space-between;
}